# Folders
.idea/
venv/
virtualenv/
pipelines/*/data/raw_data
pipelines/*/data/preprocess
pipelines/*/data/processed
wandb/
lightning_logs/
__pycache__/
.DS_Store
.terraform/

# Files
*.csv
*.h5
*.jpeg
*.png
*.json
*.zip
*.tar
*.gz
*.ckpt
*.0
*.pkl
*.txt
*.log
*.pdf
*.hcl
*.info
*.tfstate
*.backup
credentials.tfvars
inventory.cfg
inventory*
.netrc
*-checkpoint.ipynb
/evaluations/data/wandb_dropout_dp_logs.csv.bak
